html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
}

.robot {
  width: 320px;
  height: 240px;
}

.robot-body {
  width: 320px;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translateX(-50%);
}

.robot:hover .robot-brain {
  top: 18%;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  top: 5%;
}

.robot-head-right {
  left: 50%;
}

.robot:hover .robot-head-right {
  top: 3%;
  left: 55%;
}

.robot-head-left {
  right: 50%;
}

.robot:hover .robot-head-left {
  top: 3%;
  right: 55%;
}
